.content-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 945px;
  margin: 0 auto;

  &__arrow {
    height: 30px;
    border-radius: 30px;
    flex: 0 0 30px;
    cursor: pointer;
    background: url("../img/feedback/slider/arrow.png") no-repeat center;

    &_right {
      transform: rotate(180deg);
    }

    &_hide {
      cursor: auto;
      opacity: 0;
    }
  }

  &__contents {
    padding: 10px 30px;
    overflow: hidden;
    position: relative;
  }

  &__item {
    display: none;
    text-align: center;
    user-select: none;
    opacity: 0;
    transition: 1s;
    @include respond-to(small) {
      flex-direction: column;
      align-items: center;
    }
  }

  @keyframes opacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes flipping {
    from {
      right: -200px;
    }
    to {
      right: 0;
    }
  }

  &__item_active {
    position: relative;
    display: block;
    animation-name: opacity;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;

    @include respond-to(small) {
      display: flex;
    }
  }

  &__photo-name-block {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond-to(small) {
      flex-direction: row;
    }
  }

  &__photo {
    height: 90px;
    width: 90px;
    border-radius: 90px;
  }

  &__name-block {
    @include respond-to(small) {
      text-align: left;
      margin-left: 20px;
    }
  }

  &__name {
    font-size: 1.71rem;
    color: $nightRider;
    font-weight: $font-weight-bold;
    margin: 25px 0 10px 0;

    @include respond-to(small) {
      margin-top: 0;
    }
  }

  &__nick {
    font-size: 1.14rem;
    color: $deluge;
  }

  &__feedback {
    font-size: 1.21rem;
    color: $nightRider;
    line-height: 24px;
    margin: 25px 0 15px 0;
  }

  &__feedback-start-word {
    color: $deluge;
  }

  &__time {
    font-size: 1.14rem;
    color: $pattensBlue;
  }
}