$deluge: #8d81ac;
$smoky: #635c73;
$white: #fff;
$nightRider: #323232;
$whiteSmoke: #f4f4f4;
$linkWater: #c8cbcf;
$nero: #26272A;
$blueCharcoal: #24292e;
$aliceBlue: #eff3f6;
$pattensBlue: #848e97;
$perano: #31384d;
$summerSky: #26a6d1;
$mariner: #3B5998;
$hippieBlue: #2b414d;
$eclipse: #3b3b3b;